@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  //   height: 100vh;
  // border: 5px solid red;
  //   max-width: 2000px;
  margin: 0 auto;
  //   max-height: 1500px;
  //   background-color: black;
  //   color: #4c5eff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
  background-color: rgba(65, 105, 225, 0);
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$darkBg: rgb(2, 107, 115);
$bg: #f1feff;
$darkBorderColor: rgb(2, 107, 115);
$text-Color: #009daf;
$cardbg: #009daf;
$secondCardBg: #adf4fc;
$darkestBg: #025760;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 380px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.login-page-con {
  @include flexDisplay(center, center, column);
  //   border: 2px solid red;
  width: 100vw;
  height: 100vh;

  .container {
    // border: 2px solid red;
    width: 90%;
    height: 550px;
    perspective: 600px;
    margin: 0 auto;

    @include responsive(bigphone) {
      width: 400px;
      // height: 600px;
    }

    &:hover {
      .card {
        cursor: pointer;
        transform: rotateY(180deg);
      }
    }
    .card {
      height: 100%;
      width: 100%;
      position: relative;
      transition: transform 1500ms;
      transform-style: preserve-3d;

      .front,
      .back {
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
      }

      .front {
        background-color: white;
        padding: 5px;
        @include flexDisplay(flex-start, center, column);
        border: 1px solid $darkestBg;
        border-radius: 10px;

        .sign-in-header {
          margin-top: 20px;
          margin-bottom: 50px;
          font-weight: 600;
          color: $darkestBg;
        }
        .input-main-con {
          //   border: 1px solid red;
          margin-right: auto;
          width: 80%;
          height: 40px;
          margin: 0 auto;
          margin: 30px 0;

          label {
            font-size: 15px;
            color: $cardbg;
          }
          .input-con {
            border: 1px solid $cardbg;
            position: relative;
            border-radius: 5px;
            @include flexDisplay(center, flex-end, column);
            width: 100%;
            height: 100%;
            padding: 1px;

            input {
              width: 90%;
              height: 90%;
              border: none;
              padding: 0 5px;
              // margin-right: auto;
              // margin-right: -10px;
              //
            }
            .input-icon {
              position: absolute;
              left: 10px;
              font-size: 20px;
              color: $darkestBg;
            }
          }

          .validation-text {
            color: red;
            font-size: 12px;
            font-style: italic;
          }
        }
        .checkbox-main-con {
          //   border: 1px solid red;
          margin-right: auto;
          width: 80%;
          height: 40px;
          margin: 0 auto;
          margin: 20px 0;
          // margin-right: auto;

          .checkbox-con {
            // border: 1px solid $cardbg;
            position: relative;
            // border-radius: 5px;
            @include flexDisplay(space-between, center, row);
            width: 100%;
            height: 100%;
            // padding: 1px;

            input {
              //   width: 110px;
              //   border: 1px solid red;
              //   size: 50px;
            }
            span {
              font-size: 15px;
              color: $cardbg;
            }
          }
          .validation-text {
            color: red;
            font-size: 12px;
            font-style: italic;
          }
        }

        button {
          border: none;
          background-color: $text-Color;
          color: white;
          font-weight: 600;
          font-size: 15px;
          border-radius: 5px;
          width: 80%;
          height: 50px;
          margin: 0 auto;
          margin-top: 20px;
          cursor: pointer;

          &:hover {
            background-color: $darkestBg;
          }
        }
        .login-registration-link {
          //   border: 1px solid red;
          color: $cardbg;

          font-size: 12px;
          margin-top: 20px;
          //

          span {
            color: $darkestBg;
            font-weight: 600;
            color: blue;
          }
        }
      }
      .back {
        transform: rotateY(180deg);
        background-color: red;
      }
    }
  }
}
