@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  //   height: 100vh;
  // border: 5px solid red;
  //   max-width: 2000px;
  margin: 0 auto;
  //   max-height: 1500px;
  // background-color: rgba(178, 146, 57, 0.634);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
$border: 2px solid rgb(214, 214, 214);
$bg: rgba(13, 21, 34, 0.694);
$Sides: rgba(18, 29, 47, 0.694);
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// TOPBAR SESSION
.topbar-container {
  border-bottom: 1px solid black;
  @include flexDisplay(space-between, center, row);
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 5px;
  top: 0;
  right: 0;
  position: fixed;
  @include responsive(bigphone) {
    // position: relative;
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: calc(100vw - 300px);
    margin-left: auto;
    padding: 0 10px;
  }

  .sidebar-logo {
    width: 120px;
    cursor: pointer;
    @include responsive(bigphone) {
      width: 150px;
    }
    img {
      width: 100%;
    }
  }
  input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    display: none;
    @include responsive(bigphone) {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      padding: 10px;
      display: block;
    }
  }

  .topbar-icons-img {
    @include flexDisplay(space-between, center, row);
    width: 130px;

    .icon-top {
      position: relative;
      font-size: 20px;
      cursor: pointer;
      border-radius: 50%;
      span {
        position: absolute;
        top: -10px;
        right: -3px;
        background-color: black;
        color: white;
        font-size: 15px;
        height: 15px;
        width: 15px;
        text-align: center;
        border-radius: 50%;
      }
      img {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
// TOPBAR END

// SIDEBAR SECTION
.sidebar {
  position: relative;
  //   border: 5px solid red;
  @include flexDisplay(space-between, top, row);
  display: flex;
  height: 100vh;

  .sidebar-container {
    @include flexDisplay(space-between, center, row);
    border-right: 1px solid black;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;

    padding: 10px;

    @include responsive(bigphone) {
      @include flexDisplay(space-between, center, column);
      position: relative;
      width: 30%;
      height: 100vh;
      max-width: 300px;
      padding: 10px;
      //   position: fixed;
      overflow-y: scroll;
    }

    h1 {
      display: none;

      @include responsive(bigphone) {
        text-align: center;
        margin-top: 50px;
        display: block;
      }
    }

    .sidebar-nav-container {
      @include flexDisplay(space-between, flex-start, column);
      width: 100%;

      @include responsive(bigphone) {
        height: 90%;
      }

      Nav {
        width: 100%;

        ul {
          @include flexDisplay(space-between, center, row);
          @include responsive(bigphone) {
            @include flexDisplay(center, center, column);
          }

          li {
            @include flexDisplay(center, center, column);
            font-size: 10px;
            width: 60px;
            cursor: pointer;

            &:hover {
              background-color: black;
              color: white;
            }
            @include responsive(bigphone) {
              @include flexDisplay(flex-start, center, row);
              font-size: 14px;
              font-weight: 500;
              border: 2px solid black;
              border-radius: 5px;
              margin: 20px;
              padding: 10px;
              width: 200px;
            }

            span {
              // padding: 3px;
              font-size: 30px;

              @include responsive(bigphone) {
                padding: 5px;
                font-size: 16px;
              }
            }
          }
        }

        .support-settings {
          position: absolute;
          top: -70px;
          margin: 5px;
          right: 0;
          // display: none;
          @include responsive(bigphone) {
            display: block;
            position: relative;
            margin: 17px;
            top: 0;
          }
        }
        .support {
          top: -120px;
          @include responsive(bigphone) {
            display: block;
            top: 0;
          }
        }
        .settings {
          @include responsive(bigphone) {
            display: block;
          }
        }
      }
    }
  }

  //   HOME PAGE
  .home {
    // border: 5px solid red;

    margin: 0 auto;
    padding: 10px;
    margin-top: 60px;
    order: 2;
    width: 100%;

    @include responsive(bigphone) {
      width: 70%;
    }

    .cardMap {
      @include flexDisplay(space-between, center, row);
      margin: 0 auto;

      overflow-y: scroll;
      max-width: 1000px;
      width: 100%;
      .card {
        margin: 10px;
        width: 30%;
        min-width: 200px;
        max-width: 500px;
        position: relative;
        // border: 1px solid red;
        color: gray;

        .card-img {
          width: 100%;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .bankName {
          position: absolute;
          width: 70px;
          left: 10px;
          top: -15px;
        }
        .card-type {
          position: absolute;
        //   width: 70px;
          right: 10px;
          top: 5px;
          font-size: 10px;
        }
        .card-network {
          position: absolute;
          width: 70px;
          left: 33px;
          top: 35%;
          color: rgb(52, 53, 54);
          transform: rotate(90deg);
          font-size: 20px;
        }
        .card-amount {
          position: absolute;
          top: 30%;
          right: 10px;
        }
        .card-number {
          position: absolute;
          top: 60%;
          font-size: 13px;
          left: 20px;
        }
        .card-expiration {
          position: absolute;
          top: 73%;
          font-size: 8px;
          left: 20px;
        }
        .card-cardHolder {
          position: absolute;
          top: 82%;
          //   font-size: 10px;
          left: 20px;
        }
      }
    }
  }
}
