@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  //   height: 100vh;
  // border: 5px solid red;
  //   max-width: 2000px;
  margin: 0 auto;
  //   max-height: 1500px;
  //   background-color: black;
  //   color: #4c5eff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
  background-color: rgba(65, 105, 225, 0);
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
$border: 2px solid rgb(214, 214, 214);
$bg: rgba(13, 21, 34, 0.694);
$Sides: rgba(18, 29, 47, 0.694);
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// TOPBAR SESSION
.topbar-container {
  border-bottom: 1px solid rgb(174, 171, 171);
  @include flexDisplay(space-between, center, row);
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 5px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: whitesmoke;
  z-index: 2;
  @include responsive(bigphone) {
    // position: relative;
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: calc(100vw - 300px);
    margin-left: auto;
    padding: 0 10px;
  }

  .sidebar-logo {
    width: 120px;
    cursor: pointer;
    @include responsive(bigphone) {
      width: 150px;
    }
    img {
      width: 100%;
    }
  }
  input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    display: none;
    @include responsive(bigphone) {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      padding: 10px;
      display: block;
    }
  }

  .topbar-icons-img {
    @include flexDisplay(space-between, center, row);
    width: 130px;

    .icon-top {
      position: relative;
      font-size: 20px;
      cursor: pointer;
      border-radius: 50%;
      span {
        position: absolute;
        top: -10px;
        right: -3px;
        background-color: black;
        color: white;
        font-size: 15px;
        height: 15px;
        width: 15px;
        text-align: center;
        border-radius: 50%;
      }
      img {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
// TOPBAR END

// SIDEBAR SECTION
.sidebar {
  position: relative;
  // border: 5px solid red;
  @include flexDisplay(space-between, top, row);
  display: flex;
  height: 100vh;

  .sidebar-container {
    @include flexDisplay(space-between, center, row);
    border: 1px solid black;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
    position: fixed;
    padding: 10px;
    background-color: whitesmoke;
    z-index: 2;

    @include responsive(bigphone) {
      @include flexDisplay(space-between, center, column);
      position: relative;
      width: 30%;
      height: 100vh;
      max-width: 300px;
      padding: 10px;
      //   position: fixed;
      overflow-y: scroll;
    }

    h1 {
      display: none;

      @include responsive(bigphone) {
        text-align: center;
        margin-top: 50px;
        display: block;
      }
    }

    .sidebar-nav-container {
      @include flexDisplay(space-between, flex-start, column);
      width: 100%;

      @include responsive(bigphone) {
        height: 90%;
      }

      Nav {
        width: 100%;

        ul {
          @include flexDisplay(space-between, center, row);
          @include responsive(bigphone) {
            @include flexDisplay(center, center, column);
          }

          li {
            @include flexDisplay(center, center, column);
            font-size: 10px;
            width: 60px;
            cursor: pointer;
            border-radius: 5px;
            padding: 0 5px;

            &:hover {
              background-color: black;
              color: white;
            }
            @include responsive(bigphone) {
              @include flexDisplay(flex-start, center, row);
              font-size: 14px;
              font-weight: 500;
              border: 1px solid gray;
              border-radius: 5px;
              margin: 20px;
              padding: 10px;
              width: 200px;
            }

            span {
              // padding: 3px;
              font-size: 30px;

              @include responsive(bigphone) {
                padding: 5px;
                font-size: 16px;
              }
            }
          }
        }

        .support-settings {
          position: absolute;
          top: -70px;
          margin: 5px;
          right: 0;
          // display: none;
          @include responsive(bigphone) {
            display: block;
            position: relative;
            margin: 17px;
            top: 0;
          }
        }
        .support {
          top: -120px;
          @include responsive(bigphone) {
            display: block;
            top: 0;
          }
        }
        .settings {
          @include responsive(bigphone) {
            display: block;
          }
        }
      }
    }
  }

  //   HOME PAGE
  .home {
    // border: 5px solid red;

    margin: 0 auto;
    padding: 10px;
    padding-bottom: 60px;
    margin-top: 60px;
    order: 2;
    width: 100%;
    overflow-y: scroll;
    @include responsive(bigphone) {
      width: 70%;
    }
    @include responsive(desktop) {
      width: 80%;
    }

    .cardMap {
      @include flexDisplay(space-between, center, row);
      margin: 0 auto;
      // border: 5px solid red;
      overflow-y: scroll;
      //   max-width: 1200px;
      width: 100%;
      .card {
        margin: 10px;
        width: 30%;
        min-width: 210px;
        max-width: 500px;
        position: relative;
        color: gray;
        @include responsive(bigphone) {
          min-width: 250px;
        }
        .card-img {
          width: 100%;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .bankName {
          position: absolute;
          width: 70px;
          left: 10px;
          top: -15px;
        }
        .card-type {
          position: absolute;
          right: 10px;
          top: 5px;
          font-size: 10px;
        }
        .card-network {
          position: absolute;
          width: 70px;
          left: 33px;
          top: 35%;
          color: rgb(52, 53, 54);
          transform: rotate(90deg);
          font-size: 20px;
        }
        .card-amount {
          position: absolute;
          top: 30%;
          right: 10px;
        }
        .card-number {
          position: absolute;
          top: 60%;
          font-size: 13px;
          left: 20px;
        }
        .card-expiration {
          position: absolute;
          top: 73%;
          font-size: 8px;
          left: 20px;
        }
        .card-cardHolder {
          position: absolute;
          top: 82%;
          //   font-size: 10px;
          left: 20px;
        }
      }
    }
  }
  .homeLowerPart {
    // border: 2px solid red;
    @include flexDisplay(space-between, center, row);
    flex-wrap: wrap;

    // margin-top: -30px;
    // .totalSavings {
    //   @include flexDisplay(center, center, column);
    //   border: 1px solid gray;
    //   width: 200px;
    //   height: 60px;
    //   margin: 0 auto;
    //   //   margin-top: 30px;
    //   border-radius: 5px;
    //   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    //   @include responsive(bigphone) {
    //     width: 300px;
    //     height: 80px;
    //     margin-top: 50px;
    //     h2 {
    //       font-size: 35px;
    //     }
    //   }
    //   p {
    //     font-size: 14px;
    //   }
    //   h2 {
    //     font-size: 25px;
    //   }
    // }

    .stats-card {
      // border: 2px solid red;
      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;
      border-radius: 5px;
      order: 2;
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
      // padding: 5px;
      @include responsive(bigphone) {
        width: 80%;
      }
      @include responsive(desktop) {
        width: 40%;
      }
      .stats-card1,
      .stats-card2,
      .stats-card3,
      .stats-card4 {
        width: 47%;
        margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border: 1px solid rgba(87, 86, 86, 0.112);
        // width: 150px;
        height: 150px;
        // min-width: 150px;
        // max-width: 300px;
        padding: 0 5px;
        position: relative;
        border: 1px solid gray;
        color: gray;
        border-radius: 8px;
      }
    }

    .savings-stats {
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      border: 1px solid rgba(87, 86, 86, 0.112);
      width: 98%;
      margin: 0 auto;
      margin-top: 20px;
      padding: 5px;

      @include responsive(bigphone) {
        width: 80%;
      }
      @include responsive(desktop) {
        width: 55%;
        order: 1;
      }
      .savings-heading {
        // border: 2px solid red;
        @include flexDisplay(space-between, center, row);

        .number-of-wallets {
          // border: 2px solid red;
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 10px;
          }
        }
        .settings-icon {
          font-size: 35px;
          display: none;
          &:hover {
            font-size: 40px;
          }
        }
      }
      .cardMa {
        @include flexDisplay(space-between, center, row);
        margin: 0 auto;
        // border: 1px solid green;
        overflow-x: scroll;
        max-width: 100%;
        // width: 70%;
        .savings-card {
          margin: 10px;
          width: 150px;
          height: 100px;
          min-width: 150px;
          max-width: 300px;
          padding: 0 5px;
          position: relative;
          border: 1px solid gray;
          color: gray;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          @include responsive(bigphone) {
            width: 100px;
            height: 150px;
            min-width: 150px;
            max-width: 300px;
          }

          .card-type {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 10px;
          }
          .open-savings-card {
            top: 3px;
            position: absolute;
            right: 5px;
            text-align: center;

            &:hover {
              transform: scale(1.3);
            }
          }
          .card-amount {
            top: 30%;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            .targetAmount {
              font-size: 13px;
            }
          }

          .progress-range {
            // border: 1px solid red;
            position: absolute;
            width: 93%;
            bottom: 3px;

            .progress-range-value {
              position: absolute;
              right: 0;
              bottom: 10px;
              font-size: 12px;
              color: #046493;
            }
          }
        }
      }
      .totalSavings {
        // @include flexDisplay(center, center, column);
        // border: 1px solid gray;
        width: 200px;
        height: 60px;
        // margin: 0 auto;
        //   margin-top: 30px;
        // border-radius: 5px;
        // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        @include responsive(bigphone) {
          width: 300px;
          height: 80px;
          margin-top: 10px;
          h2 {
            font-size: 35px;
          }
        }
        p {
          font-size: 14px;
        }
        h2 {
          font-size: 25px;
        }
      }
    }
  }
}
