@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  //   height: 100vh;
  // border: 5px solid red;
  //   max-width: 2000px;
  margin: 0 auto;
  //   max-height: 1500px;
  //   background-color: black;
  //   color: #4c5eff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
  background-color: rgba(65, 105, 225, 0);
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
$darkBg: rgb(2, 107, 115);
$bg: rgb(238, 253, 254);
$darkBorderColor: rgb(2, 107, 115);
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 380px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// TOPBAR SESSION
.topbar-container {
  // border-bottom: 1px solid rgb(174, 171, 171);
  @include flexDisplay(space-between, center, row);
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 5px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: $bg;
  z-index: 2;
  @include responsive(bigphone) {
    // position: relative;
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: calc(100vw - 300px);
    margin-left: auto;
    padding: 0 10px;
  }

  .sidebar-logo {
    width: 120px;
    cursor: pointer;

    @include responsive(bigphone) {
      width: 150px;
    }
    img {
      width: 100%;
    }
  }

  .topbar-icons-img {
    @include flexDisplay(space-around, center, row);
    width: 130px;
    // border: 2px solid red;
    .icon-top {
      position: relative;
      font-size: 20px;
      cursor: pointer;
      border-radius: 50%;
      @include flexDisplay(space-around, center, row);
      // border: 2px solid red;
      span {
        position: absolute;
        top: -10px;
        right: -3px;
        background-color: rgb(2, 107, 115);
        color: white;
        font-size: 15px;
        height: 15px;
        width: 15px;
        text-align: center;
        border-radius: 50%;
      }
      .bell-icon {
        color: rgb(2, 107, 115);
      }

      img {
        width: 50px;
        height: 50px;
        border: 1px solid rgb(87, 222, 232);
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .topbar-account-icon {
      font-size: 30px;
      margin-left: -13px;
      color: rgb(2, 107, 115);
      cursor: pointer;
    }
  }
}
// TOPBAR END

// SIDEBAR SECTION
.sidebar {
  position: relative;
  // border: 5px solid red;
  @include flexDisplay(space-between, top, row);
  display: flex;
  height: 100vh;

  .sidebar-container {
    @include flexDisplay(space-between, center, row);
    // border: 5px solid red;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
    position: fixed;
    padding: 10px;
    background-color: $bg;
    z-index: 2;
    // display: none;

    @include responsive(bigphone) {
      @include flexDisplay(space-between, center, column);
      position: relative;
      width: 30%;
      height: 100vh;
      max-width: 300px;
      padding: 10px;
      // display: none;
      //   position: fixed;
      overflow-y: scroll;
    }

    img {
      display: none;

      @include responsive(bigphone) {
        text-align: center;
        margin-top: -30px;
        display: block;
        width: 120px;
      }
    }

    .sidebar-nav-container {
      @include flexDisplay(space-between, flex-start, column);
      width: 100%;

      @include responsive(bigphone) {
        height: 90%;
      }

      Nav {
        width: 100%;

        ul {
          @include flexDisplay(space-between, center, row);
          @include responsive(bigphone) {
            @include flexDisplay(center, center, column);
          }

          li {
            @include flexDisplay(center, center, column);
            font-size: 10px;
            width: 60px;
            cursor: pointer;
            border-radius: 5px;
            padding: 0 5px;
            color: $darkBg;

            &:hover {
              background-color: $darkBg;
              color: $bg;
            }
            @include responsive(bigphone) {
              @include flexDisplay(flex-start, center, row);
              font-size: 14px;
              font-weight: 500;
              border: 1px solid $darkBg;
              border-radius: 5px;
              margin: 20px;
              padding: 10px;
              width: 200px;
            }

            span {
              // padding: 3px;
              font-size: 30px;

              @include responsive(bigphone) {
                padding: 5px;
                font-size: 16px;
              }
            }
          }
        }

        .support-settings {
          position: absolute;
          top: -70px;
          margin: 5px;
          right: 0;
          display: none;
          @include responsive(bigphone) {
            display: block;
            position: relative;
            margin: 17px;
            top: 0;
          }
        }
        .support {
          top: -120px;
          @include responsive(bigphone) {
            display: block;
            top: 0;
          }
        }
        .settings {
          @include responsive(bigphone) {
            display: block;
          }
        }
      }
    }
  }

  //   HOME PAGE
  .home {
    // border: 5px solid red;

    margin: 0 auto;
    padding: 5px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 0;
    order: 2;
    width: 100%;
    height: calc(100vh - 120px);
    max-width: 2000px;

    // overflow-y: hidden;
    @include responsive(bigphone) {
      width: 70%;
      overflow-y: scroll;
    }
    @include responsive(desktop) {
      width: 80%;
      height: calc(100vh - 70px);
      // overflow-y: scroll;
    }
    .Wallet-Overview {
      // border: 2px solid red;
      position: absolute;
      top: 20px;
      z-index: 5;
      color: $darkBg;
      @include responsive(smallPhone) {
        font-size: 15px;
      }
    }
    .total-savings {
      margin-top: 20px;
      @include flexDisplay(flex-start, center, row);
             
      // border: 1px solid red;
      color: $darkBg;
      @include responsive(bigphone) {
        margin-top: 50px;
      }

      .total-savings-icon{
        margin-bottom: -5px;
        font-size: 30px
      }
      .hide-total-savings-icon{
        // margin-bottom: -10px;
        font-size: 30px;
        margin-left: 10px;
      }
    }

    .cardMap {
      @include flexDisplay(space-between, center, row);
      margin: 0 auto;
      // border: 5px solid red;
      overflow-y: scroll;
      width: 100%;
      height: 200px;

      @include responsive(bigphone) {
        height: 250px;
      }
      .card {
        border: 1px solid $darkBg;
        border-radius: 7px;
        background-color: $darkBg;
        margin: 7px;
        width: 30%;
        min-width: 250px;
        max-width: 500px;
        height: 140px;
        position: relative;
        color: $bg;
        transition: all 0.8s ease;

        &:hover {
          transform: scale(1.05);
        }
        @include responsive(bigphone) {
          min-width: 320px;
          margin: 15px;
          height: 170px;
        }

        .logo {
          position: absolute;
          width: 70px;
          right: 10px;
          bottom: -15px;
        }
        .walletName {
          position: absolute;
          right: 10px;
          top: 5px;
          font-size: 12px;
        }
        .card-status {
          position: absolute;
          top: 5px;
          font-size: 13px;
          left: 20px;
          background-color: $bg;
          color: $darkBg;
          padding: 2px 5px;
          border-radius: 10px;

          .active {
            margin-left: 2px;
            margin-bottom: -2px;
          }

          .on-hold {
            margin-left: 2px;
            margin-bottom: -2px;
            display: none;
          }
        }

        .card-amount {
          position: absolute;
          top: 55%;
          left: 20px;
        }
        .card-number {
          position: absolute;
          top: 60%;
          font-size: 13px;
          left: 20px;
        }
        .card-expiration {
          position: absolute;
          top: 73%;
          font-size: 8px;
          left: 20px;
        }
        .card-cardHolder {
          position: absolute;
          top: 82%;
          //   font-size: 10px;
          left: 20px;
        }
      }
      .add-wallet-icon-container {
        border: 1px solid gray;
        background-color: #7c7c7c;

        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        .add-wallet-icon {
          @include flexDisplay(space-between, center, row);
          font-size: 80px;
          margin: 0 auto;
          color: whitesmoke;
          animation: bounce 3s linear infinite;
        }

        @keyframes bounce {
          0% {
            transform: scale(0.95);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(0.95);
          }
        }
      }
    }

    // home chart and table container
    .home-chart {
      margin-top: 10px;

      // height: calc(100vh - 160px);
      overflow-y: scroll;
      // border: 2px solid red;

      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;

      @include responsive(bigphone) {
        margin-top: 50px;
      }

      .home-barchart {
        width: 98%;
        // margin: 5px;
        // height: 50px;
        // overflow-y: scroll;
        padding: 0 5px;
        position: relative;
        color: gray;
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: auto;
        margin-top: 20px;
        // order: 2;
        // margin-top: -50px;
        // border: 2px solid red;
        @include responsive(desktop) {
          // width: 50%;
          max-width: 1000px;
          // padding-bottom: 20px;
        }
      }
      .home-table {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border: 1px solid rgba(87, 86, 86, 0.112);
        width: 98%;
        // height: 250px;
        margin: 0 auto;
        // margin-top: 20px;
        padding: 5px;
        // margin-top: 50px;
        order: 1;
        margin-top: 20px;
        // overflow-x: scroll;
        // overflow-y: scroll;
        height: calc(100vh - 210px);
        overflow-y: scroll;
        // border: 2px solid red;
        // margin-bottom: 70px;
        @include responsive(desktop) {
          width: 100%;

          // margin-top: 10px;
        }
        .table {
          // border: 1px solid red;
          margin-top: 0px;
        }
      }
    }
  }
  .homeLowerPart {
    // border: 2px solid red;
    margin-top: 0px;
    @include flexDisplay(space-between, center, row);
    flex-wrap: wrap;
    @include responsive(desktop) {
      margin-top: 50px;
    }

    // HOME PAGE LOWER CARDS
    .stats-card {
      // border: 2px solid red;
      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;
      border-radius: 5px;
      order: 2;
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
      // padding: 5px;
      @include responsive(bigphone) {
        // width: 80%;
      }
      @include responsive(desktop) {
        // width: 40%;
      }
      @include responsive(smallPhone) {
        margin-top: 10px;
        padding-bottom: 100px;
        // border: 2px solid red;
      }
      // 4 CARDS
      .stats-card1,
      .stats-card2,
      .stats-card3,
      .stats-card4 {
        width: 47%;
        margin: 5px;
        height: 150px;
        // min-width: 150px;
        // max-width: 300px;
        padding: 0 5px;
        position: relative;
        border: 1px solid gray;
        color: gray;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border: 1px solid rgba(90, 90, 90, 0.112);
        // border: 2px solid red;
        @include responsive(smallPhone) {
          // border: 2px solid red;
          width: 45%;
        }
        @include responsive(bigphone) {
          height: 250px;
        }
        @include responsive(desktop) {
          // width: 40%;
        }

        // card 1 properties
        .stats-card1-total-savings {
          // border: 2px solid red;
          font-size: 40px;

          @include responsive(bigphone) {
            font-size: 40px;
          }
          @include responsive(desktop) {
          }
        }
        .total-savings-details-con {
          // border: 2px solid red;
          height: calc(100% - 50px);
          position: relative;

          h4 {
            margin-top: 0;
            font-size: 15px;
          }
          sup {
            font-size: 10px;
          }

          @include responsive(bigphone) {
            h4 {
              margin-top: 0;
              font-size: 20px;
            }
            sup {
              font-size: 15px;
            }
          }

          h1 {
            font-size: 20px;
            // border: 2px solid red;
            overflow-x: scroll;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 45%;

            @include responsive(bigphone) {
              font-size: 30px;
              // top: 30%;
            }
            @include responsive(desktop) {
              // font-size: 100px;
              // top: 35%;
            }
          }
          sub {
            font-size: 11px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 85%;
            @include responsive(bigphone) {
              top: 30%;
            }
            @include responsive(desktop) {
              top: 85%;
            }
          }
          .progress-range {
            position: absolute;
            width: 100%;
            bottom: 0;

            .progress-range-figures {
              @include flexDisplay(space-between, center, row);
              span {
                font-size: 10px;
                @include responsive(bigphone) {
                  font-size: 15px;
                }
              }
            }
          }
        }
        // end of card 1 properties

        // card 2 properties
        .stats-card2-icon {
          margin-top: 5px;
          font-size: 40px;
          // border: 2px solid red;
        }
        .stats-card2-details {
          // border: 2px solid red;
          height: calc(100% - 50px);
          position: relative;

          h4 {
            margin-top: 0;
            font-size: 15px;
          }
          sup {
            font-size: 10px;
          }
          sub {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
          }

          @include responsive(bigphone) {
            h4 {
              margin-top: 0;
              font-size: 25px;
            }
            sup {
              font-size: 15px;
            }
            sub {
              font-size: 15px;
            }
          }
          .stats-card2-ring-progress {
            // margin-top: 70px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            // left: 0;
            right: -10px;
            text-align: center;
            top: 14px;
            // border: 2px solid red;
          }
          .stats-card2-ring-progress-tablet {
            display: none;
          }
          .stats-card2-ring-progress-desktop {
            display: none;
          }
          @include responsive(bigphone) {
            .stats-card2-ring-progress {
              display: none;
            }
            .stats-card2-ring-progress-desktop {
              display: none;
            }
            .stats-card2-ring-progress-tablet {
              display: block;
              margin: 0 auto;
              bottom: 15px;
            }
          }
          @include responsive(bigphone) {
            .stats-card2-ring-progress {
              display: none;
            }
            .stats-card2-ring-progress-desktop {
              display: block;
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              // left: 0;
              right: 10px;
              text-align: center;
              top: 14px;
            }
            .stats-card2-ring-progress-tablet {
              display: none;
            }
          }
        }
      }
    }
    // END OF CARDS

    .savings-stats {
      // border-radius: 5px;
      // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      // border: 1px solid rgba(87, 86, 86, 0.112);
      width: 98%;
      margin: 0 auto;
      margin-top: 20px;
      padding: 5px;
      // border: 2px solid red;

      // @include responsive(bigphone) {
      //   width: 80%;
      // }
      // @include responsive(desktop) {
      //   width: 55%;
      //   order: 1;
      // }
      .savings-heading {
        // border: 2px solid red;
        @include flexDisplay(space-between, center, row);

        .number-of-wallets {
          // border: 2px solid red;
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 10px;
          }
        }
        .settings-icon {
          font-size: 35px;
          display: none;
          &:hover {
            font-size: 40px;
          }
        }
      }
      .cardMa {
        @include flexDisplay(space-between, center, row);
        margin: 0 auto;
        // border: 1px solid green;
        overflow-x: scroll;
        max-width: 100%;
        // width: 70%;
        .savings-card {
          margin: 10px;
          width: 200px;
          height: 100px;
          min-width: 200px;
          max-width: 300px;
          padding: 0 5px;
          position: relative;
          border: 1px solid gray;
          color: gray;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          @include responsive(bigphone) {
            width: 300px;
            height: 150px;
            min-width: 300px;
            // max-width: 300px;
          }

          .card-type {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 10px;
          }
          .open-savings-card {
            top: 3px;
            position: absolute;
            right: 5px;
            text-align: center;

            &:hover {
              transform: scale(1.3);
            }
          }
          .card-amount {
            top: 30%;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            .targetAmount {
              font-size: 13px;
              // border: 1px solid red;
            }
          }

          .progress-range {
            // border: 1px solid red;
            position: absolute;
            width: 93%;
            bottom: 3px;

            .progress-range-value {
              position: absolute;
              right: 0;
              bottom: 10px;
              font-size: 12px;
              color: #046493;
            }
          }
        }
      }
      .totalSavings {
        // @include flexDisplay(center, center, column);
        // border: 1px solid gray;
        width: 200px;
        height: 60px;
        // margin: 0 auto;
        //   margin-top: 30px;
        // border-radius: 5px;
        // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        @include responsive(bigphone) {
          width: 300px;
          height: 80px;
          margin-top: 10px;
          h2 {
            font-size: 35px;
          }
        }
        p {
          font-size: 14px;
        }
        h2 {
          font-size: 25px;
        }
      }
    }
  }
}
