@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0 auto;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

.topbar-container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 5px;
  top: 0;
  right: 0;
  position: fixed;
}
@media only screen and (min-width: 750px) {
  .topbar-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: calc(100vw - 300px);
    margin-left: auto;
    padding: 0 10px;
  }
}
.topbar-container .sidebar-logo {
  width: 120px;
  cursor: pointer;
}
@media only screen and (min-width: 750px) {
  .topbar-container .sidebar-logo {
    width: 150px;
  }
}
.topbar-container .sidebar-logo img {
  width: 100%;
}
.topbar-container input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  display: none;
}
@media only screen and (min-width: 750px) {
  .topbar-container input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    display: block;
  }
}
.topbar-container .topbar-icons-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
.topbar-container .topbar-icons-img .icon-top {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.topbar-container .topbar-icons-img .icon-top span {
  position: absolute;
  top: -10px;
  right: -3px;
  background-color: black;
  color: white;
  font-size: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
}
.topbar-container .topbar-icons-img .icon-top img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  display: flex;
  height: 100vh;
}
.sidebar .sidebar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid black;
  position: absolute;
  width: 100vw;
  height: 60px;
  bottom: 0;
  padding: 10px;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 30%;
    height: 100vh;
    max-width: 300px;
    padding: 10px;
    overflow-y: scroll;
  }
}
.sidebar .sidebar-container h1 {
  display: none;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container h1 {
    text-align: center;
    margin-top: 50px;
    display: block;
  }
}
.sidebar .sidebar-container .sidebar-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container {
    height: 90%;
  }
}
.sidebar .sidebar-container .sidebar-nav-container Nav {
  width: 100%;
}
.sidebar .sidebar-container .sidebar-nav-container Nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.sidebar .sidebar-container .sidebar-nav-container Nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  width: 60px;
  cursor: pointer;
}
.sidebar .sidebar-container .sidebar-nav-container Nav ul li:hover {
  background-color: black;
  color: white;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 200px;
  }
}
.sidebar .sidebar-container .sidebar-nav-container Nav ul li span {
  font-size: 30px;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav ul li span {
    padding: 5px;
    font-size: 16px;
  }
}
.sidebar .sidebar-container .sidebar-nav-container Nav .support-settings {
  position: absolute;
  top: -70px;
  margin: 5px;
  right: 0;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav .support-settings {
    display: block;
    position: relative;
    margin: 17px;
    top: 0;
  }
}
.sidebar .sidebar-container .sidebar-nav-container Nav .support {
  top: -120px;
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav .support {
    display: block;
    top: 0;
  }
}
@media only screen and (min-width: 750px) {
  .sidebar .sidebar-container .sidebar-nav-container Nav .settings {
    display: block;
  }
}
.sidebar .home {
  margin: 0 auto;
  padding: 10px;
  margin-top: 60px;
  order: 2;
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .sidebar .home {
    width: 70%;
  }
}
.sidebar .home .cardMap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  overflow-y: scroll;
  max-width: 1000px;
  width: 100%;
}
.sidebar .home .cardMap .card {
  margin: 10px;
  width: 30%;
  min-width: 200px;
  max-width: 500px;
  position: relative;
  color: gray;
}
.sidebar .home .cardMap .card .card-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.sidebar .home .cardMap .card .bankName {
  position: absolute;
  width: 70px;
  left: 10px;
  top: -15px;
}
.sidebar .home .cardMap .card .card-type {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 10px;
}
.sidebar .home .cardMap .card .card-network {
  position: absolute;
  width: 70px;
  left: 33px;
  top: 35%;
  color: rgb(52, 53, 54);
  transform: rotate(90deg);
  font-size: 20px;
}
.sidebar .home .cardMap .card .card-amount {
  position: absolute;
  top: 30%;
  right: 10px;
}
.sidebar .home .cardMap .card .card-number {
  position: absolute;
  top: 60%;
  font-size: 13px;
  left: 20px;
}
.sidebar .home .cardMap .card .card-expiration {
  position: absolute;
  top: 73%;
  font-size: 8px;
  left: 20px;
}
.sidebar .home .cardMap .card .card-cardHolder {
  position: absolute;
  top: 82%;
  left: 20px;
}/*# sourceMappingURL=compStyle.css.map */